#test {
    background-color: chartreuse;
}

.centarimagen {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centrardiv {
    width: fit-content;
    margin: 0 auto;
}

.image-home{
    margin-top: -230px;
    opacity: 0.6    ;
    filter:  alpha(opacity=60);
}

.capa1{
    position:relative;
    z-index:1;
}
.capa2 {
    position: absolute;
    z-index: 0;
}

.nav ul li a{
    font-family: 'Lato', sans-serif;
    color: black;
}

.nav ul li a:hover{
    color: white;
}
